[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "thirdparty/mathpresso"]
	path = thirdparty/mathpresso
	url = git@github.com:kobalicek/mathpresso.git
[submodule "thirdparty/asmjit"]
	path = thirdparty/asmjit
	url = git@github.com:asmjit/asmjit.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = git@github.com:gabime/spdlog.git
