/* style.css For markdown viewer. */

body {
    /* Center the main content column */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    /* Tweak top/bottom padding/margins */
    padding: 2rem 1rem;
}

img {
    /* Center images explicitly. */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
